<!DOCTYPE html>
<html>
<head>

  <title>Tahoe To Your Door</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  
  <%= csrf_meta_tags %>

</head>
<body>
I am here!
<div id="ttyd-app"></div>

</body>
</html>