<!DOCTYPE html>
<html>
<head>

  <title>Tahoe To Your Door</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>      
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  
  <%= csrf_meta_tags %>

</head>
<body data-no-turbolink>
I am here!
<div id="ttyd-app"></div>

</body>
</html>